{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
      <form method="POST" novalidate>
        {% csrf_token %}
          <div class="form-group">
            {{ form.tipoComida |as_crispy_field  }}
          </div>
          <div class="form-group">
            {{ form.descricao |as_crispy_field  }}
          </div>
          <div class="form-group">
            {{ form.quantidade |as_crispy_field  }}
          </div>
          <div class="form-group">
            {{ form.opcoes |as_crispy_field  }}
          </div>
          <div class="form-group">
            {{ form.valorCalorico |as_crispy_field  }}
          </div>
          <div class="form-group">
            {{ form.salada |as_crispy_field  }}
          </div>
          <button type="submit" class="btn btn-success">Salvar</button>
            {% if comida %}
                 <a href="{% url 'delete_comida' comida.id %}" class="btn btn-danger">Excluir</a>
            {% endif %}
          <a class="btn btn-light" href="{% url 'list_comida' %}">Cancelar</a>
      </form>
{% endblock %}